<div class="content-page">
		<!-- Start content -->
		<div class="content">

			<div class="page-content-wrapper ">

				<div class="container">

					<div class="row">
						<div class="col-lg-2">
								<div class="card m-b-20">
									<div class="card-block">
										<table class="table">
											<tbody>
											<tr>
												<th colspan="2">
													<h2>User Info</h2>
												</th>
											</tr>
											<tr>
												<td>Name</td>
												<td><%= @user.name %></td>
											</tr>
											<tr>
												<td>Email</td>
												<td><%= @user.email %></td>
											</tr>
											<tr>
												<td>Start deposit</td>
												<td><%= @user.start_deposit %></td>
											</tr>
											<tr>
												<td>Total deposit</td>
												<td><%= @user.total_deposit %></td>
											</tr>
											<tr>
												<td>Total cashout</td>
												<td><%= @user.total_cashout %></td>
											</tr>
											<tr>
												<td>ICO</td>
												<td><%= @user.ico %></td>
											</tr>
											<tr>
												<td>Crypto</td>
												<td><%= @user.crypto %></td>
											</tr>
											<tr>
												<td>Total</td>
												<td><%= @user.ico + @user.crypto %></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div> <!-- end col -->
						<div class="col-lg-5">
							<div class="card m-b-20">
								<div class="card-block">
									<canvas id="ICOs" height="500"></canvas>
								</div>
							</div>
						</div> <!-- end col -->

						<div class="col-lg-5">
							<div class="card m-b-20">
								<div class="card-block">
									<canvas id="usersICOs" height="500"></canvas>
								</div>
							</div>
						</div> <!-- end col -->
					</div> <!-- end row -->

				</div><!-- container -->

			</div> <!-- Page content Wrapper -->

		</div> <!-- content -->

		<footer class="footer">
			© 2018 Crypto-Invest
		</footer>

	</div>
<script type="text/javascript" charset="utf-8">
  !function($) {
    "use strict";

    var ChartJs = function() {};

    ChartJs.prototype.respChart = function(selector,type,data, options) {
      // get selector by context
      var ctx = selector.get(0).getContext("2d");
      // pointing parent container to make chart js inherit its width
      var container = $(selector).parent();

      // enable resizing matter
      $(window).resize( generateChart );

      // this function produce the responsive Chart JS
      function generateChart(){
        // make chart width fit with its container
        var ww = selector.attr('width', $(container).width() );
        switch(type){
          case 'Pie':
            new Chart(ctx, {type: 'pie', data: data, options: options});
            break;
          case 'Bar':
            new Chart(ctx, {type: 'bar', data: data, options: options});
            break;
        }
        // Initiate new chart or Redraw
      }
      // run function - render chart at first load
      generateChart();
    },
      //init
      ChartJs.prototype.init = function() {
      	var userIcoNames = [];
      	var userIcoValues = [];
      	var icoNames = [];
      	var icoPercents = [];
      	<% @user_icos.each do |user_ico| %>
				userIcoNames.push("<%= user_ico.ico.name.split.join(" ") %>");
				userIcoValues.push(<%= user_ico.value %>);
        <% end %>
        <% @icos.each do |ico| %>
				icoNames.push("<%= ico.name.split.join(" ") %>");
				icoPercents.push(<%= ico.percent ? ico.percent : 0 %>);
        <% end %>
        //Pie chart
        var ICOs = {
          labels: icoNames,
          datasets: [
            {
              label: "ICOs",
              backgroundColor: "#4ac18e",
              borderColor: "#4ac18e",
              borderWidth: 1,
              hoverBackgroundColor: "#4ac18e",
              hoverBorderColor: "#4ac18e",
              data: icoPercents
            }
          ]
        };
        this.respChart($("#ICOs"), 'Bar', ICOs);

        var usersICOs = {
          labels: userIcoNames,
          datasets: [
            {
              label: "User ICOs",
              backgroundColor: "#4ac18e",
              borderColor: "#4ac18e",
              borderWidth: 1,
              hoverBackgroundColor: "#4ac18e",
              hoverBorderColor: "#4ac18e",
              data: userIcoValues
            }
          ]
        };
        this.respChart($("#usersICOs"), 'Bar', usersICOs);
      },
      $.ChartJs = new ChartJs, $.ChartJs.Constructor = ChartJs

  }(window.jQuery),
    function($) {
      "use strict";
      $.ChartJs.init()
    }(window.jQuery);
</script>
	<!-- End Right content here -->
<!-- END wrapper -->
<%= javascript_pack_tag 'application' %>