<div class="content-page">
		<!-- Start content -->
		<div class="content">

			<div class="page-content-wrapper ">

				<div class="container">

					<div class="row">
						<div class="col-lg-2">
								<div class="card m-b-20">
									<div class="card-block">
										<table class="table">
											<tbody>
											<tr>
												<th colspan="2">
													<h2>User Info</h2>
												</th>
											</tr>
											<tr>
												<td>Name</td>
												<td><%= @user.name %></td>
											</tr>
											<tr>
												<td>Email</td>
												<td><%= @user.email %></td>
											</tr>
											<tr>
												<td>Start deposit</td>
												<td><%= @user.start_deposit %></td>
											</tr>
											<tr>
												<td>Total deposit</td>
												<td><%= @user.total_deposit %></td>
											</tr>
											<tr>
												<td>Total cashout</td>
												<td><%= @user.total_cashout %></td>
											</tr>
											<tr>
												<td>ICO</td>
												<td><%= @user.ico %></td>
											</tr>
											<tr>
												<td>Crypto</td>
												<td><%= @user.crypto %></td>
											</tr>
											<tr>
												<td>Total</td>
												<td><%= @user.ico + @user.crypto %></td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div> <!-- end col -->
						<div class="col-lg-5">
							<div class="card m-b-20">
								<div class="card-block">
									<div id="ICOs" height="500"></div>
								</div>
							</div>
						</div> <!-- end col -->

						<div class="col-lg-5">
							<div class="card m-b-20">
								<div class="card-block">
									<div id="usersICOs" height="500"></div>
								</div>
							</div>
						</div> <!-- end col -->
					</div> <!-- end row -->

				</div><!-- container -->

			</div> <!-- Page content Wrapper -->

		</div> <!-- content -->

		<footer class="footer">
			© 2018 Crypto-Invest
		</footer>

	</div>
<script type="text/javascript" charset="utf-8">
  !function($) {
    "use strict";

    var ChartC3 = function() {};

    ChartC3.prototype.init = function () {
      var userIcoNames = [];
      var userIcoValues = [];
      var icoNames = [];
      var icoPercents = [];
      <% @user_icos.each do |user_ico| %>
      userIcoNames.push("<%= user_ico.ico.name.split.join(" ") %>");
      userIcoValues.push(<%= user_ico.value ? user_ico.value : 0 %>);
      <% end %>
      <% @icos.each do |ico| %>
      icoNames.push("<%= ico.name.split.join(" ") %>");
      icoPercents.push(<%= ico.percent ? ico.percent : 10 %>);
      <% end %>

      var barChartICOs = [];
      var barChartICOPercents = ['%'];
      icoNames.forEach(function(name, i) {
        if (userIcoNames.indexOf(name) !== -1) {
          barChartICOs.push(name);
          barChartICOPercents.push(icoPercents[i])
				}
			});

      //Bar Chart
      c3.generate({
        bindto: '#ICOs',
        data: {
          columns: [barChartICOPercents],
					types: {'%': 'bar'},
					colors: {'%': '#83d5b2'}
        },
        legend: {hide: true},
        bar: {width: {ratio: .75}},
        axis: {x: {type: 'category', categories: barChartICOs}}
      });
      console.log(userIcoValues)

      var colors = []
      var kw = new KolorWheel('#83d5b2');
				kw.rel(-10, -10, 15, userIcoValues.length + 1).each(function() {
				colors.push(this.getHex());
      });
      //Pie Chart
      c3.generate({
        bindto: '#usersICOs',
        data: {
          columns:
            [['Crypto', <%= @user.crypto %>]].concat(userIcoNames.map(function(name,i) {
						  console.log([name, userIcoValues[i]]);
						  return [name, userIcoValues[i]];
						}))
          ,
          type : 'pie'
        },
        color: {
          pattern: colors
        },
        pie: {
          label: {
            show: true
          }
        }
      });

    },
      $.ChartC3 = new ChartC3, $.ChartC3.Constructor = ChartC3

  }(window.jQuery),

//initializing
    function($) {
      "use strict";
      $.ChartC3.init()
    }(window.jQuery);
</script>
	<!-- End Right content here -->
<!-- END wrapper -->
<%= javascript_pack_tag 'application' %>